agm-map {
  height: 300px;
}

.map{
  margin-top: 25px;
}

.form-group{
  margin-top: 25px;
}

.bottoneRicerca, .bottoneRicerca:disabled:hover{
  background-color: white;
}

.bottoneRicerca:disabled:hover{
  cursor: not-allowed;
}

.bottoneRicerca:hover{
  background-color: cornflowerblue;
}

form button:disabled:hover{
  cursor: not-allowed;
}

.trashPoint{
  float: right;
}
