
<div class="container">
  <div class="row justify-content-center">
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="inputGroup inputGroup1">
            <label for="text">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" class="username" required/>
          </div>
      <div class="inputGroup inputGroup1">
        <label for="email1">Email</label>
        <input placeholder="email@dominio.com" type="text" id="email" class="email" name="email" [(ngModel)]="user.email" #email="ngModel" maxlength="256" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"/>
        <span *ngIf="!email.valid && user.email" class="badge badge-danger">Formato mail non valido</span>
      </div>
      <div class="inputGroup inputGroup3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password1" [(ngModel)]="user.password" class="password" required/>
        <password-strength-bar
        [passwordToCheck]="user.password"
        [barLabel]="barLabel">
      </password-strength-bar>
      </div>
      <div class="inputGroup inputGroup4">
        <label for="password">Ripeti Password</label>
        <input type="password" id="password2" name="password2" [(ngModel)]="password2" class="password" required/>
        <password-strength-bar
          [passwordToCheck]="password2"
          [barLabel]="barLabel">
        </password-strength-bar>
      <span *ngIf="user.password != password2 && password2" class="badge badge-danger">Attenzione password diversa</span>
      </div>
      <div class="inputGroup inputGroup5">
        <button id="register" type="submit" [disabled]="registerForm.invalid || user.password != password2">Registrati</button>
      </div>
    </form>
  </div>
</div>






