
<div class="container">
  <div class="row justify-content-center">
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="inputGroup inputGroup1">
            <label for="text">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.name" class="username" required/>
          </div>
      <div class="inputGroup inputGroup1">
        <label for="email1">Email</label>
        <input placeholder="email@dominio.com" type="text" id="email" class="email" name="email" [(ngModel)]="user.email" #email="ngModel" maxlength="256" required pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"/>
        <span *ngIf="!email.valid && user.email" class="badge badge-danger">Formato mail non valido</span>
      </div>
      <div class="inputGroup inputGroup3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password1" [(ngModel)]="user.password" class="password" required/>
        <password-strength-bar
        [passwordToCheck]="user.password"
        [barLabel]="barLabel">
      </password-strength-bar>
      </div>
      <div class="inputGroup inputGroup4">
        <label for="password">Ripeti Password</label>
        <input type="password" id="password2" name="password2" [(ngModel)]="password2" class="password" required/>
        <password-strength-bar
          [passwordToCheck]="password2"
          [barLabel]="barLabel">
        </password-strength-bar>
      <span *ngIf="user.password != password2 && password2" class="badge badge-danger">Attenzione password diversa</span>
      </div>
      <div class="inputGroup inputGroup5">
        <button id="register" type="submit" [disabled]="registerForm.invalid || user.password != password2">Registrati</button>
      </div>
    </form>
  </div>
</div>






