<div class="container-fluid">
  <div class="row form-group">
    <div class="col-12">
      <input placeholder="cerca località" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button [disabled]="!placeSelected" (click)="cercaDaCategoria()" class="btn btn-outline-secondary bottoneRicerca" type="button">Avvia Ricerca</button>
        </div>
        <input [(ngModel)]="placeSelected" class="form-control" id="something" list="listOfPlace" placeholder="avvia ricerca da categoria">
        <datalist id="listOfPlace">
          <option [ngValue]="place" *ngFor="let place of listOfPlace">{{place.value}}</option>
        </datalist>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button [disabled]="!placeWritten" (click)="cercaDaQuery()" class="btn btn-outline-secondary bottoneRicerca" type="button">Avvia ricerca</button>
        </div>
        <input [(ngModel)]="placeWritten" type="text" class="form-control" placeholder="avvia ricerca da testo" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="map">
    <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="zoom" (mapReady)="mapReady($event)">
      <agm-marker [latitude]="latPosition" [longitude]="lngPosition" [iconUrl]="'assets/img/avatar2.png'">
        <agm-info-window>
          <strong>Posizione Corrente</strong>
        </agm-info-window>
      </agm-marker>
      <agm-marker-cluster imagePath="./assets/img/m">
        <agm-marker
          *ngFor="let m of markers;let i = index;"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label">
          <agm-info-window>
              <strong>{{m.name}}</strong>
            </agm-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
  <div class="list-group my-2">
    <div *ngFor="let point of pointOfInteresList" class="list-group-item list-group-item-action flex-column align-items-start mb-2" (click)="goToPosition(point)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{point.nome}}</h5>
        <small>{{point.distanza | distancePipe}}</small>
      </div>
      <p class="mb-1">{{point.via}} , {{point.stato | openClosedFilter}}</p>
      <small>{{point.rating}}</small>
      <ngb-rating [(rate)]="point.rating" [readonly]="true" max="5"></ngb-rating>
    </div>
  </div>
</div>
