<div class = "container-fluid">
  <div class="row form-group">
    <input placeholder="cerca località" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <!-- <div class="row">
    <div class="input-group">
      <input placeholder="cerca per categoria" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" >
      <span class="input-group-btn">
        <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="toogleChange()">
          <div class="handle"></div>
        </button>
      </span>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button [disabled]="!placeSelected" (click)="cercaDaCategoria()" class="btn btn-outline-secondary bottoneRicerca" type="button">Avvia Ricerca</button>
        </div>
        <input [(ngModel)]="placeSelected" class="form-control" id="something" list="listOfPlace" placeholder="avvia ricerca da categoria">
        <datalist id="listOfPlace">
          <option [ngValue]="place" *ngFor="let place of listOfPlace">{{place.value}}</option>
        </datalist>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button [disabled]="!placeWritten" (click)="cercaDaQuery()" class="btn btn-outline-secondary bottoneRicerca" type="button">Avvia ricerca</button>
        </div>
        <input [(ngModel)]="placeWritten" type="text" class="form-control" placeholder="avvia ricerca da testo" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div #map class="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReady($event)">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <strong>Posizione Corrente</strong>
        </agm-info-window>
      </agm-marker>
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker
          *ngFor="let m of markers; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label">
          <agm-info-window>
              <strong>{{m.name}}</strong>
            </agm-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
</div>
